<<<<<<< HEAD:UI/main.css
body{
    margin: 0; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.main-content{
    background-color: #D32F2F;
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 100vh;
}

.main-content-left{
    position: relative;
    text-align: left;
    padding: 50px;
    color: white;
    margin-right: 100px;
}

.center-vertical{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.btn{
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 50px;
    font-size: 1rem;
    max-width: 75%;
    
}

#signup-btn{
    border: 1px solid white;
    background-color: #D32F2F;
    color: white;
}

#login-btn{
    border: white;
    color: #D32F2F;
}

#signup-btn:hover{
    background-color: #F44336;
}

#login-btn:hover{
    background-color: #FFCDD2;
}

.main-content-right{
    background-color: white;
    padding: 50px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-list{
    padding: 20px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav-list-item a{
    padding:15px 20px 15px 20px;
    text-decoration: none;
    color: #F44336;
}
.input{
    color: #af00ff;
    background-color: aliceblue;
    border: 1px solid #af00ff;
    Border-radius:10px;
    margin: 5px;
    align-content: center;
    width: 80%;
    height: 20%;
}

.nav-list-item a:hover{
    background-color: #F44336;
    border-radius: 5px;
    color: white;
    box-shadow: 5px 5px 20px #FFCDD2;
}

.nav-list-item a:focus{
    background-color: #F44336;
    border-radius: 5px;
    color: white;
    box-shadow: 5px 5px 20px #FFCDD2;
}

#copy-right{
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}

#left-header{
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 50px;
}

#right-header{
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 20px;
}

#center-app-pic{
    margin: 0 auto;
    width: 550px;
}
=======
body{
    background-color: #a000ff;
    margin: 0;
    padding: 40px;
}


.main-content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 91vh;
    align-content: center;
}


.white-text {
    color: aliceblue;
    width: 80%;
}

.button{
    color: aliceblue;
    background-color: #af00ff;
    border: 1px solid aliceblue;
    Border-radius:10px;
    margin: 5px;
    align-content: center;
    width: 80%;
    height: 20%;

}
.input{
    color: #af00ff;
    background-color: aliceblue;
    border: 1px solid #af00ff;
    Border-radius:10px;
    margin: 5px;
    align-content: center;
    width: 80%;
    height: 20%;

}





>>>>>>> 70406ac36393ee1160e6876d0e840980c916d038:Loginpage.css
