.root-container {
    height: 100vh;
    background-color: #f3f3f3;
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.side-bar {
    background-color: white;
    padding-top: 24px;
    background-color: #095F8B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-bar h2 {
    color: #F96A93;
}

.navigation-btn {
    width: 100%;
    font-size: 1em;
    border: none;
    color: white;
    background-color: #095F8B;
    padding: 18px 12px;
    opacity: 0.6;
}

.navigation-btn:hover {
    opacity: 0.8;
}

.navigation-btn:focus {
    opacity: 1;
    border-left: 6px solid #F96A93;
}

.navigation-btn.logout {
    margin-top: auto;
}

.main-page-right-side {
    overflow: auto;
}