body{
<<<<<<< HEAD
    background-color: #FFA921;
    margin: 0;
    padding: 40px;
}

.main-content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    height: 91vh;
}

.main-content-left{
    position: relative;
    text-align: left;
    padding: 50px;
}

.main-content-left p:last-of-type{
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 50px;
}

.main-content-right{
    background-color: white;
    border-radius: 15px;
    padding: 50px;
}

.nav-list{
    display: flex;
    text-align: center;
    justify-content: space-between;
    
}
=======
    background-color: lightskyblue;
    margin: 0;
    max-height: fit-content;
    height: 100vh;
}

.header{
    background-color: brown;
    margin-bottom: 0;
}

.main{
    background-color: grey;
    margin-top: 0;
    max-height: fit-content;
}

.footer{
    background-color: indigo;
    max-height: fit-content;
    
}

.par{
    margin: 0;
}

.nav{
    margin: 0;
}

>>>>>>> 504e52d3b100c327bb2ed20a022de46c564b49b9
