body{
    background-color: lightskyblue;
    margin: 0;
    max-height: fit-content;
    height: 100vh;
}

.header{
    background-color: brown;
    margin-bottom: 0;
}

.main{
    background-color: grey;
    margin-top: 0;
    max-height: fit-content;
}

.footer{
    background-color: indigo;
    max-height: fit-content;
    
}

.par{
    margin: 0;
}

.nav{
    margin: 0;
}

